<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <link rel="stylesheet" href="./css/styles.css" />
 <title>About</title>
</head>

<body>
 {{>header}}
 <p>This is a test site base on the Udemy course "The complete Node.js Developer course (3<sup>rd</sup> edition)</p>
 <img src="./img/0.jpg" alt="El chabon" width="128" height="128" />
 <p>Created by {{name}}</p>

 {{>footer}}
</body>

</html>